
<nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            @{
                HttpCookie ck = Request.Cookies["UserName"];
                if (ck != null)
                {
                    string s = ck.Value;
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Xin chào @s
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                               <a href="~/Doi-mat-khau" style="color:black;" class="text-center">Đổi mật khẩu</a>
                            </li>
                            <li>
                               <a href="Account/Logout" style="color:black;" class="text-center">Đăng xuất</a>
                            </li>
                        </ul>
                    </li>
                }
            }
        </ul>
            
    </div>
</nav>





